<%- include ('partials/_header.ejs') %>

<%-include('partials/_navegacion.ejs');%>

 <div class="container">
    <div class="left">
        <div>
            <img src="/images/fondo2.png" class="left">
        </div>
    </div>
    <div class="right">
        <h1>El futuro de la Agricultura</h1>
        <h3>La empresa del futuro en alimentos</h3>
        <p>Fundado en 2000, el equipo de DURCREVI SPR DE RI tiene como objetivo hacer la agricultura mucho más práctica para nuestros clientes, especialmente aquellos que dependen del éxito de sus actividades agrícolas.

        <br><br>

        Nuestro objetivo es transformar la forma en que se gestiona la agricultura y ayudar a que nuestros agricultores se sientan cómodos con sus niveles de producción. Nuestra tecnología fue desarrollada en base a puntos de datos en tiempo real recopilados de otras producciones. Estamos comprometidos a ayudar a nuestros clientes a tener éxito, así que continúe navegando en nuestro sitio y póngase en contacto para obtener más información.</p>
    </div>
</div>

<%- include ('partials/_footer.ejs') %>