<%- include ('partials/_header.ejs') %>

<%-include('partials/_navegacion.ejs');%>

<div id="sponsors">
    <h1>Los clientes aman a DUCREVI SPR DE RI</h1>
    <h2>Aqui lo que piensan</h2>
    <img src="/images/comillas.png">
    <img src="/images/comillas.png">
    <img src="/images/comillas.png">
    <h3 id="c1">Una empresa que tecnologicamente esta muy adelantada de las demás
        <br><br>Royals Company</h3>
    <h3 id="c2">Creemos que juntos podemos alcanzar nuevos retos,
        calidad asegurada y comprobada
        <br><br>Good Crops</h3>
    <h3 id="c3">Sistemas automáticos y servicios inteligentes
        de primera
        <br><br>Little Seeds</h3>
</div>

<div id="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5833.916001888755!2d-105.92882093442145!3d22.90832408940053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f18561d524531%3A0x50975932ef4b1d45!2s82871%20Apoderado%2C%20Sin.!5e0!3m2!1ses-419!2smx!4v1636423267243!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<%- include ('partials/_footer.ejs') %>