* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  html {
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    background: #eee;
  }
  section {
    height: 100vh;
    background-image: url(/images/fondo.png);
  }
  section span {
    margin: 0;
    font-size: 700%;
    text-align: center;
    line-height: 1;
    padding-top: calc(50vh - 20pt);
    display: block;
    font-weight: 1000;
    color: white;
  }

  section h1{
    font-size: 300%;
    color: white;
    text-align: center;
  }

  header {
    width: 100%;
    padding: 1em;
    font-size: 140%;
    position: absolute;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
  }
  header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
  nav a {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 0 .5em;
    color: black;
    transition: opacity .2s ease-in-out;
  }
  nav a:hover,
  nav a:focus {
    opacity: 1;
  }
  article {
    margin: 5em auto 0;
    padding: 1em;
    font-size: 140%;
    max-width: 800px;
    background: white;
    box-shadow: rgba(0,0,0,.05) 0 3px 15px;
  }
  article p {
    margin: 0;
    color: #333;
  }
  article p + p {
    margin-top: .7em;
  }
  @media (min-width: 500px) {
    header {
      text-align: left;
    }
    nav {
      float: right;
    }
    article {
      margin: 3.5em auto 0;
      padding: 2em;
    }
  }
  @media (min-width: 800px) {
    article {
      margin: 3.5em auto;
    }
  }
  
  @element html, body and (min-scroll-y: 100vh) {
    header {
      position: fixed;
      top: 0;
      background: white;
      box-shadow: rgba(0,0,0,.05) 0 3px 15px;
    }
  }

  footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

#mapa iframe{
    
    margin-top: 30%;
    width: 100%;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}

#sponsors {

    margin-top: 10%;
    text-align: center;
}

#sponsors h3{
    
    position: absolute;
    margin-top: 10%;
    color: black;
    font-family: Californian FB; 
    width: 20%;
}

#c1{

    left: 15%;
}

#c2{

    left: 40%;
}

#c3{

    left: 65%;
}

#sponsors img{

    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
        body{ margin: 0; font-family: Californian FB; }
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-size: cover;
            height: 100vh;
        }
        .left{ 
            display: flex;
            place-items: center;
            justify-content: center;
            text-align: center;
        }
        .right{
            background-color: #F4F4F4; 
            justify-content: center;
            text-align: center;
            padding-top: 100px;
        }
        .right h1,h3,p{

            font-family: Californian FB;
        }
        .right h1{
            
            margin-left: 150px;
            margin-right: 150px;
            font-size: 50px;
        }
        .right h3{
            
            margin-left: 100px;
            margin-right: 100px;
            font-size: 20px;
            margin-top: 30px;
        }
        .right p{

            margin-top: 50px;
            margin-left: 200px;
            margin-right: 200px;
            text-align: justify;
            font-size: 15px;
        }