<footer>
       
    <div class="container-footer-all">
     
         <div class="container-body">

             <div class="colum1">
                 <h1>Mas informacion de la compañia</h1>

                 <p>DURCREVI SPR DE RI es una empresa relacionada con la agricultura, nuestro objetivo es que las verduras se cosechen en su punto máximo de madurez y se congelen frescas pocas horas después de la cosecha. De esta forma preservamos al máximo su sabor, textura y valor nutricional. Cuidamos, cosechamos, congelamos, pero sobre todo, nos preocupamos por el medio ambiente y las personas ¿Buscas verduras frescas clásicas o exóticas? ¿O estás interesado en una mezcla de verduras o hierbas congeladas? Somos su ventanilla única para todos los ingredientes vegetales congelados.</p>

             </div>

             <div class="colum2">

                 <h1>Redes Sociales</h1>

                 <div class="row">
                     <img src="images/facebook.png">
                     <label>Siguenos en Facebook</label>
                 </div>
                 <div class="row">
                     <img src="images/twitter.png">
                     <label>Siguenos en Twitter</label>
                 </div>
                 <div class="row">
                     <img src="images/instagram.png">
                     <label>Siguenos en Instagram</label>
                 </div>



             </div>

             <div class="colum3">

                 <h1>Información de Contacto</h1>

                 <div class="row2">
                     <img src="images/house.png">
                     <label>82871 Apoderado, Sin.</label>
                 </div>

                 <div class="row2">
                     <img src="images/smartphone.png">
                     <label>6692204527</label>
                 </div>

                 <div class="row2">
                     <img src="images/contact.png">
                      <label>2019030411@upsin.edu.mx</label>
                 </div>

             </div>

         </div>
     
     </div>
     
     <div class="container-footer">
            <div class="footer">
                 <div class="copyright">
                     © 2021 Todos los Derechos Reservados | <a href='index'>DURCREVI SPR DE RI</a>
                 </div>

                 <div class="information">
                     <a href="acercade">Acerca de</a> 
                 </div>
             </div>

         </div>
     
 </footer>
</body>
</html>