<!doctype html>
<html>
<head>
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/Estilo.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <section>
        <span>DURCREVI SPR DE RI</span>
        <br><br>
        <h1>Justo lo que necesitas</h1>
    </section>
