<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="/css/Estilo.css">
        <h1>DURCREVI SPR DE RI</h1>
        <nav>
          <a href="index">Inicio</a>
          <a href="acercade">Acerca de</a>
          <a href="contactos">Contactanos</a>
        </nav>
      </header>
</body>
</html>